body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

.logo {
  margin-left: 50px;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

p {
  font-size: 1.5em;
  font-weight: 500;
}

.marquee {
  overflow: hidden;
  white-space: nowrap;
  display: inline-block;
  animation: scrollText 10s linear infinite;
}

@keyframes scrollText {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(-100%);
  }
}

.shop{
  background-color: transparent;
  color: #000;
  padding: 10px 10px;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  height: 55px;
  max-width: 350px;
  border: 2px solid #1F0066;
}

.shop:hover {
  background-color: #1F0066;
  color: #fff;
  border-radius: 10px;
}

.shop a {
  text-decoration: none;
  color: antiquewhite;
}